name: "Construir e enviar para o Cachix"

on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v14
        with:
          name: "deive"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: "Build"
        run: 
          nix build ./nixos#nixosConfigurations.Cheshire.config.system.build.toplevel
          nix build ./nixos#homeConfigurations.deive@Cheshire.activationPackage
